---
---

@charset "utf-8";

@import 'bootstrap/_style';

$f1: Arial, Helvetica;           // title font
$f2: Arial, Helvetica;           // text font
$f3: Arial, Helvetica;           // symbol font
$f4: monospace;                  // code font
$g1: 10px;                       // base gap
$c0: white;                      // bg color
$c1: #333;                       // text color
$c2: darken(red, 20%);           // accent color
$c3: #ccc;                       // color 3
$c4: green;                      // color 4
$c5: yellow;                     // color 5
$font-path: 'assets/fonts';	     // base path
$font-rhythm: 6px;				 // unused



@font-face {
  font-family: "nycmesh";
  src:url("/assets/fonts/nycmesh.eot");
  src:url("/assets/fonts/nycmesh.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/nycmesh.woff") format("woff"),
    url("/assets/fonts/nycmesh.ttf") format("truetype"),
    url("/assets/fonts/nycmesh.svg#nycmesh") format("svg");
  font-weight: normal;
  font-style: normal;

}

@import 'base';
@import 'layout';
@import 'modules';


