---
layout: post
---
<h2>Who we are</h2>
<p>NYC Mesh is a community owned network. Our network consists of Wi-Fi router "nodes" and "supernodes" spread throughout the city. The network has no central server and connects directly to the internet backbone. We peer directly with other major networks so we do not rely on an ISP. All nodes cooperate in the distribution of data, and our network can also stand-alone in case of emergencies or internet shutdown.</p>
<p>Our ASN is AS395853 and we connect to the DE-CIX internet exchange. <a href="mailto:peering@nycmesh.net" target="_blank">Please contact us to peer with our network</a>.</p>
<h2>Our mission</h2>
<p>We aim to create a free, resilient, stand-alone communication system that serves both for daily use and also for emergencies—be it power outages or internet disruption—running software that helps our community with hyperlocal maps and events. 
</p>
<h2 class="center">Get involved</h2>
<ul class="actionables">
  <li>
    <h3>Join</h3>
    <p>Help our network grow! You will need to buy a router, or we can supply and install one for you. A monthly donation is appreciated.</p>
    {% include actionables/newnode.html %}
  <h3>DIY</h3>
   Order a router and download our firmware.
   <a href="download" class="btn">Order & Download</a>
  </li><li>
  <h3>Meetups</h3>
  <p>Everybody is welcome!</p>
  {% include actionables/meetup.html %}
<h3>Chat</h3>
<p>Chat with the community on <a href=https://slack.nycmesh.net/ target="_blank">Slack</a>
   <!-- <script async defer src="https://slack.nycmesh.net/slackin.js"></script> -->
</p>
<h3>Newsletter</h3>
  <p>Our progress via email</p>
  {% include actionables/newsletter.html %}
</li><li>
<h3>Donate</h3>
<p>{{ site.title }} is a labor of love and all members are unpaid volunteers, but we're always in need of new hardware to extend the network.</p>
<p>If you can afford to help, please do!</p>
{% include actionables/donate.html %}
<a href="/blog/help/" class="btn">Help!</a>
</li><li>
<h3>Read our blog</h3>
<ul class="list">
  {% for post in site.posts limit:3 %}
  <li>
   <a href="{{ post.url }}">{{ post.title }}</a>
 </li>
 {% endfor %}
</ul>
<h3>Twitter</h3>
<a href="http://twitter.com/nycmesh" target="_blank" class="btn">Follow @NYCmesh</a>
<h3>Contact</h3>
<a href="mailto:contact@nycmesh.net" target="_blank" class="btn">Email</a>
</li>
</ul>
<h2>Meet the team</h2>

{% assign random = site.time | modulo:2 %}
{% if random == 0 %}
   {% include team.html %}
{% else %}
   {% include team2.html %}
{% endif %}
