---
layout: post
---
<h2>What is a Mesh</h2>
<p>The mesh network consists of WiFi router "nodes" spread across the city. A mesh network has no central server and no single internet service provider. All nodes cooperate in the distribution of data, serving as a stand-alone network in case of emergencies.</p>
<h2>What We Do</h2>
<p>We aim to create a free, resilient, stand-alone communication system that serves both for daily use and also for emergencies—be it power outages or internet disruption—running software that helps our community with hyperlocal maps and events.
</p>
<h2 class="center">Get Involved</h2>
<ul class="actionables">
  <li>
    <h3>Install Node</h3>
    <p>We're always hungry for new nodes, so if you are located in the NY/NJ areas and have rooftop access do let us know.</p>
    <p>It's all about installing a router for less than $100. We install and configure it for you.</p>
    <p>There are <strong>no</strong> monthly fees and you'll help us grow.</p>
    {% include actionables/newnode.html %}
  </li><li>
  <h3>Weekly Meetings</h3>
  <p>We have regular meetings in downtown Manhattan, plus occasional weekly meetings with other related organizations.</p>
  {% include actionables/meetup.html %}
<h3>Newsletter</h3>
  <p>Be informed of our progress via email.</p>
  {% include actionables/newsletter.html %}
</li><li>
<h3>Donate</h3>
<p>{{ site.title }} is a labor of love and all members are unpaid volunteers, but we're always in need of new hardware.</p>
<p>If you can afford to help, please do!</p>
{% include actionables/amazon.html %}
{% include actionables/bitcoin.html %}
</li><li>
<h3>Read our Blog</h3>
<p>We're always posting new tutorials.</p>
<ul class="list">
  {% for post in site.posts limit:3 %}  
  <li>
   <a href="{{ BASE_PATH }}/website/{{ post.url }}">{{ post.title }}</a>
 </li>
 {% endfor %}  
</ul>
<h3>Twitter</h3>
<a href="http://twitter.com/nycmesh" target="_blank" class="btn">@NYCmesh</a>
</li>
</ul>
<h2>Meet the Team</h2>
{% include team.html %}