<footer class="footer">
	<img src="../../assets/images/isoc-logo.png" align="right" style="width:180px;height:60px;"/>
	This project was made possible in part through a donation from the Internet Society.<br><br>
	<br><br>
	<a href="https://twitter.com/nycmesh?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @nycmesh</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% include homenav.html %}
</footer>

>