
  		<div id='map'></div>
  		<div class="cover-container">
  			<div class="inner cover">
  				<h1 class="cover-heading" id="location">Where are you located?</h1>
  				<form role="form" id="join">
  					<h1 class="cover-heading">How can we contact you?</h1>
  					<div class="form-group has-warning has-feedback">
  						<input type="name" class="form-control" id="email" placeholder="Name">
  					</div>
  					<div class="form-group has-warning has-feedback">
  						<input type="email" class="form-control" id="pwd" placeholder="Email">
  					</div>
  					<div class="form-group has-warning has-feedback">
  						<input type="phone" class="form-control" id="pwd" placeholder="Phone">
  					</div>
  					<div class="checkbox">
  						<label><input type="checkbox"> I have roof access.</label>
  					</div>
  				</form>
  				<a href="#" id="submit" class="btn btn-lg btn-default" onclick="submit()">Submit</a>
  				<h1 class="cover-heading" id="thanks">Thanks, we'll be in touch soon.</h1>
  				<div id="main_text">
  					<h1 class="cover-heading">A New, Free Network.</h1>
  					<p class="lead">Owned and operated by our community.</p>
  					<p class="lead">
  						<a href="#" class="btn btn-lg btn-default" onclick="addNode()">Get Connected</a>
  					</p>
  				</div>
  			</div>
  		</div>