<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoib28iLCJhIjoiWXFoMHRIWSJ9.ZdI5DZEZ0qE6J0IcsR3w1w';
var map = L.mapbox.map('map', 'oo.k9efp640', {
  zoomControl: false,
  showMarkers: false
}),
heat = L.heatLayer([], { maxZoom: 15.5 }).addTo(map);

  // Add each marker point to the heatmap.
  var layer = L.mapbox.featureLayer('oo.k9efp640').on('ready', function() {
    layer.eachLayer(function(l) {
      heat.addLatLng(l.getLatLng());
    });
  });

  // hide all markers
  map.featureLayer
  .setFilter(function() { return false; })
  .addTo(map);

  map.scrollWheelZoom.disable();
  map.doubleClickZoom.disable();
  map.touchZoom.disable();
  map.dragging.disable();

  function addNode() {
    map.scrollWheelZoom.enable();
    map.doubleClickZoom.enable();
    map.touchZoom.enable();
    map.dragging.enable();
    // document.getElementById("map").style.zIndex = 0;
    document.getElementById("main_text").style.display = "none";
    document.getElementById("location").style.display = "inherit";
    document.getElementById("logo").href = "index.html";
    setTimeout(function(){document.getElementById("map").style.zIndex = 0;}, 4000);
    map.addLayer(L.mapbox.tileLayer('oo.kbip7077'));
  }
  var addedMarker = false;
  var marker;
  map.on('click', function(click) {
    var locationQuestion = document.getElementById("location");
    var submitButton = document.getElementById("submit");
    locationQuestion.style.display = "none";
    submit.style.display = "inherit";
    locationQuestion

    if (!addedMarker) {
      addedMarker = true;
      marker = L.marker(click.latlng, {
        draggable: true
      });
      marker.addTo(map);
    }
    else {
      marker._latlng = click.latlng;
      marker.update();
    }
  });

  </script>
