<ul class="team">
    <li>
      <img src="assets/images/team/azlyth.jpg" />
      <h4>Peter Valdez</h4>
      <a target="_blank" href="http://github.com/azlyth" class="btn">Github</a>
    </li><li>
      <img src="assets/images/team/bhny.png" />
      <h4>Brian Hall</h4>
      <a target="_blank" href="http://github.com/bhny" class="btn">Github</a>
      <a target="_blank" href="http://instagram.com/bhny" class="btn">Instagram</a>
    </li><li>
      <img src="assets/images/team/ksnieck.jpg" />
      <h4>Kurt Snieckus</h4>
      <a target="_blank" href="http://github.com/ksnieck" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/ksnieck" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/nonlinear.jpg" />
      <h4>Nicholas Frota</h4>
      <a target="_blank" href="http://github.com/nonlinear" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/nonlinear" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/c00w.jpg" />
      <h4>Colin Rice</h4>
      <a target="_blank" href="http://github.com/c00w" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/_c00w" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/jedahan.png" />
      <h4>Jonathan Dahan</h4>
      <a target="_blank" href="http://github.com/jedahan" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/jedahan" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/robamichael.png" />
      <h4>Rob Michael</h4>
      <a target="_blank" href="http://twitter.com/robamichael" class="btn">Twitter</a>
    </li><li>
    <img src="assets/images/team/samuelhermann.jpg" />
    <h4>Samuel Hermann</h4>
      <a target="_blank" href="http://github.com/samuelhermann" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/samuelhermann" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/nitinics.jpg" />
      <h4>Nitin Sharma</h4>
      <a target="_blank" href="http://github.com/nitinics" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/nitinics" class="btn">Twitter</a>
    </li>
  </ul>
    
    
    
    
  