<div id="revAlpha">
	<ul class="team">
	In <a id="myLink" href="#" onclick="alphaSort(1);return false;">reverse alphabetical</a> order:<br>
    <li>
      <img src="assets/images/team/azlyth.jpg" />
      <h4>Peter Valdez</h4>
      <a target="_blank" href="http://github.com/azlyth" class="btn">Github</a>
      <a target="_blank" class="btn">&nbsp;</a>
    </li><li>
      <img src="assets/images/team/ksnieck.jpg" />
      <h4>Kurt Snieckus</h4>
      <a target="_blank" href="http://github.com/ksnieck" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/ksnieck" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/nitinics.jpg" />
      <h4>Nitin Sharma</h4>
      <a target="_blank" href="http://github.com/nitinics" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/nitinics" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/c00w.jpg" />
      <h4>Colin Rice</h4>
      <a target="_blank" href="http://github.com/c00w" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/_c00w" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/robamichael.jpg" />
      <h4>Rob Michael</h4>
      <a target="_blank" href="http://twitter.com/robamichael" class="btn">Twitter</a>
      <a target="_blank" class="btn">&nbsp;</a>
    </li><li>
    <img src="assets/images/team/samuelhermann.jpg" />
    <h4>Samuel Hermann</h4>
      <a target="_blank" href="http://github.com/samuelhermann" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/samuelhermann" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/bhny.jpg" />
      <h4>Brian Hall</h4>
      <a target="_blank" href="http://github.com/bhny" class="btn">Github</a>
      <a href="mailto:brian@nycmesh.net" target="_blank" class="btn">Email</a>
    </li><li>
      <img src="assets/images/team/danjg.jpg" />
      <h4>Daniel J. Grinkevich</h4>
      <a target="_blank" href="http://github.com/sycophantic" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/sycophantic" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/nonlinear.jpg" />
      <h4>Nicholas Frota</h4>
      <a target="_blank" href="http://github.com/nonlinear" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/nonlinear" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/winston.jpg" />
      <h4>Winston Ford</h4>
      <a target="_blank" href="https://github.com/winstonford" class="btn">Github</a>
      <a target="_blank" href="http://winstonford.com/"class="btn">Website</a>
	</li><li>
      <img src="assets/images/team/julien.jpg" />
      <h4>Julien Deswaef</h4>
      <a target="_blank" href="http://github.com/xuv" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/xuv" class="btn">Twitter</a>	
    </li><li>
      <img src="assets/images/team/jedahan.jpg" />
      <h4>Jonathan Dahan</h4>
      <a target="_blank" href="http://github.com/jedahan" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/jedahan" class="btn">Twitter</a>	
    </li><li>
      <img src="assets/images/team/cavallo.jpg" />
      <h4>Vinney Cavallo</h4>
      <a target="_blank" href="https://twitter.com/vinneycavallo" class="btn">Twitter</a>
      <a target="_blank" href="http://vinneycavallo.com/" class="btn">Website</a>
	</li>
  </ul>
</div>
<div id="alpha">
	<ul class="team">
	In <a id="myLink" href="#" onclick="alphaSort();return false;">alphabetical</a> order:<br>		 
	<li>
      <img src="assets/images/team/cavallo.jpg" />
      <h4>Vinney Cavallo</h4>
      <a target="_blank" href="https://twitter.com/vinneycavallo" class="btn">Twitter</a>
      <a target="_blank" href="http://vinneycavallo.com/" class="btn">Website</a>
	</li><li>
      <img src="assets/images/team/jedahan.jpg" />
      <h4>Jonathan Dahan</h4>
      <a target="_blank" href="http://github.com/jedahan" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/jedahan" class="btn">Twitter</a>
	</li><li>
      <img src="assets/images/team/julien.jpg" />
      <h4>Julien Deswaef</h4>
      <a target="_blank" href="http://github.com/xuv" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/xuv" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/winston.jpg" />
      <h4>Winston Ford</h4>
      <a target="_blank" href="https://github.com/winstonford" class="btn">Github</a>
      <a target="_blank" href="http://winstonford.com/"class="btn">Website</a>
	</li><li>
      <img src="assets/images/team/nonlinear.jpg" />
      <h4>Nicholas Frota</h4>
      <a target="_blank" href="http://github.com/nonlinear" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/nonlinear" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/danjg.jpg" />
      <h4>Daniel J. Grinkevich</h4>
      <a target="_blank" href="http://github.com/sycophantic" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/sycophantic" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/bhny.jpg" />
      <h4>Brian Hall</h4>
      <a target="_blank" href="http://github.com/bhny" class="btn">Github</a>
      <a href="mailto:brian@nycmesh.net" target="_blank" class="btn">Email</a>
    </li><li>
    <img src="assets/images/team/samuelhermann.jpg" />
    <h4>Samuel Hermann</h4>
      <a target="_blank" href="http://github.com/samuelhermann" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/samuelhermann" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/robamichael.jpg" />
      <h4>Rob Michael</h4>
      <a target="_blank" href="http://twitter.com/robamichael" class="btn">Twitter</a>
      <a target="_blank" class="btn">&nbsp;</a>
    </li><li>
      <img src="assets/images/team/c00w.jpg" />
      <h4>Colin Rice</h4>
      <a target="_blank" href="http://github.com/c00w" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/_c00w" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/nitinics.jpg" />
      <h4>Nitin Sharma</h4>
      <a target="_blank" href="http://github.com/nitinics" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/nitinics" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/ksnieck.jpg" />
      <h4>Kurt Snieckus</h4>
      <a target="_blank" href="http://github.com/ksnieck" class="btn">Github</a>
      <a target="_blank" href="http://twitter.com/ksnieck" class="btn">Twitter</a>
    </li><li>
      <img src="assets/images/team/azlyth.jpg" />
      <h4>Peter Valdez</h4>
      <a target="_blank" href="http://github.com/azlyth" class="btn">Github</a>
      <a target="_blank" class="btn">&nbsp;</a>
    </li>
  </ul>
</div>

<script>
// randomly show team alphabetically or reverse alphabetically by hiding divs
alphaSort (Math.random() < 0.5) ;

function alphaSort(bool) {
    if (bool) {
	  document.getElementById('revAlpha').style.display = "none"; // hide revAlpha div tag
	  document.getElementById('alpha').style.display = "block";
	} else {
	  document.getElementById('revAlpha').style.display = "block";
	  document.getElementById('alpha').style.display = "none";	
	}             // The function returns the product of p1 and p2
}
</script>
    
    
    
  