<div class="title">
  {% if page.title %}
    <div class="tags">
      {% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}">{{ tag }}</a>{% endfor %}
    </div>

    <h1>{{ page.title }}</h1>
    <p class="sig">
    <!-- <img src="{{ site.url }}/images/{{ author.avatar }}" alt="{{ author.name }} photo">  -->
    {% if page.author %}
      {% assign author = site.authors[page.author] %}
      <img src="{{ site.url }}/assets/images/team/{{ author.avatar }}" alt="{{ author.name }} photo">{{ page.author | prepend: "by " }}{{ page.date | date: ", %B %d, %Y" }}
    {% endif %}
    </p>
  {% else %}
    <h1><a href="/join"><u>Join</u> our community-owned network</a><br><a href="/donate"><u>Donate</u> to help us grow</a></h1>
  {% endif %}
</div>
