@import 'base/style';
body {
  background-color: $c0;
  color: $c1;
}

.highlighter-rouge {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4 {
  font-family: $f1;
  border: 0;
  margin: 0;
  margin-bottom: $g1;
}
section {
  &:not(:first-of-type) {
    border-top: solid 1px $c3;  
    margin-top: $g1; 
    padding-top: $g1; 
  }
  input {
    display: block;
    width: 100%;
    padding: $g1;
    margin: $g1 0;
    font-family: $f4;
    border: solid 1px $c3;

  }
  div {
    padding: $g1;
    background-color: lighten($brand-success, 30%);
    color: darken($brand-success, 20%);
  }
  &.fonts, &.gap, &.color {
    p {
      b, input, &:after {
        display: inline-block;
      }
      b {
        width: 90px;
        font-family: $f1;
        font-weight: normal;
        font-size: 15px;
      }
      input {
        width: 100px;
        margin: 0;

      }
    }
  }
  &.fonts {
    p {
     &:after {
      padding: $g1;
      background-color: lighten($brand-success, 30%);
      color: darken($brand-success, 20%);
    }
    &:first-of-type:after {
      content: "#{$f1}";
    }
    &:nth-of-type(2):after {
      content: "#{$f2}";
    }
    &:nth-of-type(3):after {
      content: "#{$f3}";
    }
    &:nth-of-type(4):after {
      content: "#{$f4}";
    }
  }
}
&.color p {  
 &:after {
  content: " ";
  padding: $g2;
  width: 100px;
}
}
&.color.primary {
  p {
    &:first-of-type {
      b:before {
        content: "#{$c1}";
      }
      &:after {
        background-color: $c1;
      }
    }
    &:nth-of-type(2) {
      b:before {
        content: "#{$c2}";
      }
      &:after {
        background-color: $c2;
      }
    }
    &:nth-of-type(3) {
      b:before {
        content: "#{$c3}";
      }
      &:after {
        background-color: $c3;
      }
    }
    &:nth-of-type(4) {
      b:before {
        content: "#{$c4}";
      }
      &:after {
        background-color: $c4;
      }
    }
    &:nth-of-type(5) {
      b:before {
        content: "#{$c5}";
      }
      &:after {
        background-color: $c5;
      }
    }
  }
}
&.color.bootstrap {
  p {
    &:first-of-type {
      b:before {
        content: "#{$brand-primary}";
      }
      &:after {
        background-color: $brand-primary;
      }
    }
    &:nth-of-type(2) {
      b:before {
        content: "#{$brand-success}";
      }
      &:after {
        background-color: $brand-success;
      }
    }
    &:nth-of-type(3) {
      b:before {
        content: "#{$brand-info}";
      }
      &:after {
        background-color: $brand-info;
      }
    }
    &:nth-of-type(4) {
      b:before {
        content: "#{$brand-warning}";
      }
      &:after {
        background-color: $brand-warning;
      }
    }
    &:nth-of-type(5) {
      b:before {
        content: "#{$brand-danger}";
      }
      &:after {
        background-color: $brand-danger;
      }
    }
  }
}
&.gap {
  p {
   &:after {
    padding: $g1;
    background-color: lighten($brand-success, 30%);
    color: darken($brand-success, 20%);
  }
  &:first-of-type:after {
    content: "#{$g1}";
    width: $g1;
  }
  &:nth-of-type(2):after {
    content: "#{$g2}";
    width: $g2;
  }
  &:nth-of-type(3):after {
    content: "#{$g3}";
    width: $g3;
  }
  &:nth-of-type(4):after {
    content: "#{$g4}";
    width: $g4;
  }
  &:nth-of-type(5):after {
    content: "#{$g5}";
    width: $g5;
  }
  &:nth-of-type(6):after {
    content: "#{$g6}";
    width: $g6;
  }
  &:nth-of-type(7):after {
    content: "#{$g7}";
    width: $g7;
  }
  &:nth-of-type(8):after {
    content: "#{$g8}";
    width: $g8;
  }
  &:nth-of-type(9):after {
    content: "#{$g9}";
    width: $g9;
  }
  &:nth-of-type(10):after {
    content: "#{$g10}";
    width: $g10;
  }
  &:nth-of-type(11):after {
    content: "#{$g11}";
    width: $g11;
  }
  &:nth-of-type(12):after {
    content: "#{$g12}";
    width: $g12;
  }
}
}
}
a[data-toggle="collapse"] {
  padding-top: $g1;
  display: block;
  &:hover {
    text-decoration: none;
  }
}
code {
  color: darken($brand-warning, 20%);
  @include word-wrap;
  background-color: lighten($brand-warning, 30%);
}
