
<a data-toggle="collapse" href="#newsletter" class="btn">
	Join our Newsletter
</a>
<div id="newsletter" class="collapse aaa">
	<form action="//nicholasfrota.us9.list-manage.com/subscribe/post?u=cf667149616fd293afa115f5a&amp;id=ebe72854f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your Email">
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_cf667149616fd293afa115f5a_ebe72854f3" tabindex="-1" value=""></div>
	</form>
</div>
