// ----------------------------
// ANIMATION RULES
// ----------------------------
@mixin animation($title: fadein) {
  @keyframes $title          { @content }
  @-moz-keyframes $title     { @content }
  @-webkit-keyframes $title  { @content }
  @-o-keyframes $title       { @content }
}
@mixin animate($title: fadein, $duration: 500ms, $timing: ease-in) {
 -webkit-animation: $title $duration $timing;
 -moz-animation:    $title $duration $timing;
 -o-animation:      $title $duration $timing;
 animation:         $title $duration $timing;
}
@mixin delay($step: 1, $delay: 75ms, $mode: backwards) {
  -webkit-animation-delay: ($delay * $step);
  -moz-animation-delay: ($delay * $step);
  -o-animation-delay: ($delay * $step);
  animation-delay: ($delay * $step);
  -webkit-animation-fill-mode: $mode;
  -moz-animation-fill-mode: $mode;
  -o-animation-fill-mode: $mode;
  animation-fill-mode: $mode;
}
// create animation first: 
// @include animation(animationtitle) { animation rules }
// then assign animation to object:
// @include animate(animationtitle, duration);
// optionally, add delay (value is how much you multiply):
// @include delay(2);



/* animations */

@include animation(progress) {
  0%   {
    background-size: 0% 100%;
  }
}
@include animation(fade) {
  0%   { 
    @include opacity(0); 
  }
}
@include animation(fadedown) {
  0%   { 
    @include opacity(0); 
    @include translate(0, -12); 
  }
}
@include animation(zoom) {
  0%   { 
    @include opacity(0); 
    @include scale(.9);
  }
}
@include animation(blur) {
  0%   { 
    @include opacity(0); 
    -webkit-filter: blur(10px); 
    -moz-filter: blur(10px); 
    -o-filter: blur(10px); 
    -ms-filter: blur(10px); 
    filter: blur(10px);
  }
}
@include animation(fadeup) {
  0%   { 
    @include opacity(0); 
    @include translate(0, 12); 
  }
}
@include animation(faderight) {
  0%   { 
    @include opacity(0); 
    @include translate(12, 0); 
  }
}
@include animation(fadeleft) {
  0%   { 
    @include opacity(0); 
    @include translate(-12, 0); 
  }
}
@include animation(appear) {
  0%   { 
    @include opacity(70);
  }
}
@include animation(touchleft) {
  0%   { 
     @include translate(-210, 0); 
  }
}
@include animation(touchright) {
  0%   { 
     @include translate(210, 0); 
  }
}
@include animation(touchright) {
  0%   { 
     @include translate(210, 0); 
  }
}