.proto {
	background: #ccc;
	font-family: $f1;
	footer.footer {
		border-top: solid 1px #999;
		margin-top: $g2;
		padding-top: $g2;
		background: none;
		color: #262626;
	}
  .sig {
    font-family: $f2 !important;
    font-size: 90%;
    font-style: italic;
    &:last-of-type {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }
	.row {
		@include grid(4, 20px);
		.col {
			@media screen and (max-width: $iphone-portrait) {
				width: 100%;
				padding: 0px;
				margin: 15px;
			}
			&:not(:first-of-type) {
				border-left: solid 1px #999;
				@media screen and (max-width: $iphone-portrait) {
					border-left: none;
					border-top: solid 1px #999;
				}
			}
		}
	}
	a {
		&:not(.not) {
			color: #2175BD !important;
		}
		&.not {
			text-decoration: line-through;
			pointer-events: none;
			cursor: default;
			color: #999;
		}
	}
	h1, h2, h3 {
		font-weight: normal;
	}
	h1 {
		border-bottom: solid 1px #999;
		margin-bottom: $g2;
		padding-bottom: $g2;
		padding-left: $g4;
	}
	&:before, &:after {
		font-size: 20px !important;
		height: 35px !important;
	}
	&:after {
		top: 37px !important;
	}
	ul, ol {
		list-style-type:  none;
		padding: 0;
		margin: 0;
		&:not(.menu) a {
			display: block;
		}
		li {
			padding: 5px;
			@include transition;
			&:hover {
				@include shadow(0px 0px 10px rgba(0, 0, 0, .2));
			}
		}
		&.menu {
			li {
				@extend %clearfix;
			}
			a {
				float: right;
				border-left: solid 1px #999;
				padding-left: 5px;
				margin-left: 5px;
			}
		}
	}
}