.subway {
  text-align: center;
     
  ul {
    list-style:none;
    display: inline-block;
    margin: 0px !important;
    .icon{
      font-size: 14px;
    }
    li {
      float:left;
      span{
        display:block;
        text-decoration: none;
        position:relative;
        height: 40px;
        line-height:40px;
        padding: 0 10px 0 5px;
        text-align: center;
        margin-right: 23px;
        &:before,
        &:after {
          content: "";
          position:absolute;
          top: 0;
          border-width:20px 10px;
          width: 0;
          height: 0;
        }
        &:before{
          left:-20px;
          border-left-color:transparent;
        }
        &:after{
          left:100%;
          border-color:transparent;
        }
      }
      &:first-child{
        span{
          padding-left:15px;
          &:before{
            border:none;
          }
        }
      }
      &:last-child{
        span{
          padding-right:15px;
          &:after{
            border:none;
          }
        }
      }
    }
  }
}

article {
  .subway li {
    @include opacity(70);
    font-size: 80%;
    @media screen and (max-width: $device) {
      @include opacity(50);
    }
  }
  &#browse .subway li.browse_step, 
  &#select  .subway li.select_step, 
  &#delivery .subway li.delivery_step,
  &#payment .subway li.payment_step,
  &#confirm .subway li.confirm_step {
    @include opacity(100);
    font-size: 150%;
    @include animate(appear);
    @media screen and (max-width: $device) {
      font-size: 100%;
    }
  }
  @media screen and (max-width: $device) {
    &#browse .subway li:not(.browse_step), 
    &#select  .subway li:not(.select_step), 
    &#delivery .subway li:not(.delivery_step),
    &#payment .subway li:not(.payment_step),
    &#confirm .subway li:not(.confirm_step) {
      @include hide-text;
    }
  }
}