<div id="newnode"  class="tab-content">
	<div class="tab-pane" id="newnode1">
		<h2>Join the Mesh</h2><br>
		 Node request:
		<form action="https://docs.google.com/forms/d/1w1d2qiCerKxjR5uu7gnqRqF9XpYeRvTDPqHbCE4Cftc/formResponse"
 method="POST" id="ss-form" target="_self" onsubmit="">
  <input type="text" name="entry.508902369" value="" id="entry_508902369" dir="auto" aria-label="Name" placeholder="Your name">
  <input type="text" name="entry.119277156" value="" id="entry_119277156" dir="auto" aria-label="Email" aria-required="true" required="" placeholder="Email (required)">
  <input type="text" name="entry.1046234029" value="" id="entry_1046234029" dir="auto" aria-label="Phone"  placeholder="Phone number">

  <!--<input type="text" name="entry.214227195" id="entry_214227195" aria-label="Location" aria-required="true" required="" placeholder="Street address- must include ZIP code!">-->
  <input id="entry_214227195" name="entry.214227195" placeholder="Enter your address"
            type="text" aria-label="Location" aria-required="true" required=""></input>
    <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.
 
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
 
      var placeSearch, entry_214227195;
 
      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        entry_214227195 = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('entry_214227195')),
            {types: ['address']});
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNClp7oJsw-eleEoR3-PQKV23tpeW-FpE&libraries=places&callback=initAutocomplete"
       async defer></script>
         
    <label>
    <input type="checkbox" required="" name="entry.1263551439" value="I have Rooftop access" id="group_1263551439_1" role="checkbox">
    I agree to the Network Commons <a href="../ncl.html">License</a>
  </label><br>
	<label>
    <input type="checkbox" name="entry.108879804" value="I have Rooftop access" id="group_108879804_1" role="checkbox">
    I might have rooftop access!
  </label>
    <input type="submit" name="submit" value="Submit" id="ss-submit" class="btn">
  <input type="hidden" name="draftResponse" value="[,,&quot;229178244945477229&quot;]
">
  <input type="hidden" name="pageHistory" value="0">
  <input type="hidden" name="fbzx" value="229178244945477229">

</form>
	</div>
	
</div>